
<div id="jmpress" >

    <div id="start" class="step" data-x="-1000" data-y="-1500"  data-scale="2">
	<q>What is Flyer Zero?</q>
    </div>

    <div class="step" data-x="-1000" data-y="-3000">
	<q>Adding modern capabilities to the traiditional flyer or handbill</q>
    </div>

    <div class="step slide" data-x="0" data-y="-3000">
        <q>If you're looking for events nearby, you can see all of the flyers for your local area on a map, or on a traditional flyer board</q>
    </div>

    <div class="step slide" data-x="1000" data-y="-3000">
        <q>If you're a promoter, you can add an image of your flyer, event date, location, and embed multiple forms of media</q>
    </div>

    <div class="step slide" data-x="2000" data-y="-3000">
        <q>If you're a flyer artist, flyer zero is one of the few online places where the true art of your work is on display</q>
    </div>


    <div class="step" data-x="-1500" data-y="0">
	<q>How Do I use this thing?</q>
    </div>

    <div class="step slide" data-x="-2500" data-y="0">
        <q>To find local events, just visit the Zero Map or Zero Board. Click on a flyer for more detail...easy.</q>
    </div>

    <div class="step slide" data-x="-3500" data-y="0">
        <q>Crowdsourced Scholarships</q>
    </div>


    <div class="step" data-x="500" data-y="0">
	<q>Nurturing and Refining Big Ideas</q>
    </div>

    <div class="step slide" data-x="1500" data-y="0">
        <q>Talks on leveraging social networks for promotion and distribution of creative works</q>
    </div>

    <div class="step slide" data-x="2500" data-y="0">
        <q>Unique IDs for creative works</q>
    </div>
</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>
