
<%= render :partial=>"flyer"%>
<div style="width:990px; margin:0 auto;">
	<div class="yellow_text" style="font-size:3.0em;">Submit your flyer.</div>
	<div id="dragdrop" class="container"><%= render :partial=>"events/dragdrop" %></div>
	<div id="submit" class="container"><%= render :partial=>"events/submit" %></div>
</div>