
<div id="nearby" class="content">
	<div class="flyers">
			<!-- <div id="mini_dragdrop_area">Submit Yours!</div> //-->
		<%for flyer in @now%>
			<%= image_tag(flyer.photo.url(:cropped), :size=>"100x100", :class=> "show_on_map", :flyer_id=>flyer.id) unless flyer.photo.nil? %>
		<%end%>
	</div>
</div>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
