<div id="kicktitle">
Check out our Flyer Zero <%=image_tag "kickstarter-logo-dark.png"%>
</div>

<div class="kickdesc">
Flyer Zero is the new old way of finding and promoting local events. Check out our video to learn more.
</div>

<iframe width="560" height="315" src="http://www.youtube.com/embed/EQfSPkrzlDk" frameborder="0" allowfullscreen></iframe>
