<div id="kicktitle">
Flyer Zero Kickstarter Project
</div>

<div class="kickdesc">
Flyer Zero is the new old way of finding and promoting local events. Check out our video to learn more.
</div>

<iframe width="560" height="315" src="http://www.youtube.com/embed/EQfSPkrzlDk" frameborder="0" allowfullscreen></iframe>

<div class="kickdesc">
If you like what we're doing, you can check out our kickstarter page <a href="http://www.kickstarter.com">here</a>.
</div>