<div id="logo"> logo </div>
<div id="content">
	<div id="flyer" class="container">Flyer</div>
	<div id="kickstarter" class="container">Kickstarter</div>
</div>
<div id="footer"><strong>Flyer Zero</strong> is a kickass <strong>Open Form Foundation</strong> joint.</div>
