<div id="add_link" class="fzbutton dark">
	<table><tr><td valign='middle'>Submit Your Flyer</td><td valign='middle'> <%=image_tag "arrow-right.png", :size=>"24x24"%></td></tr></table>
</div>
<div id="location" class="fzbutton dark">
	<table><tr><td valign='middle'>Where are you?</td><td valign='middle'> <%=image_tag "arrow-right.png", :size=>"24x24"%></td></tr></table>
</div>

<div id="logo"> </div>

<div id="content" class="box">
		<br /><br /><br /><br /><br /><br /><br /><br />
		<%=image_tag "cycle.gif", :size=>"128x128", :style=>"height:128px; width: 128px; margin:auto;display:block;"%>
</div>
<div id="footer"><strong>Flyer Zero</strong> is a kickass <strong>Open Form Foundation</strong> joint.</div>
