<div id="add_widget">
  <div id="add_link">Submit Your Flyer<span></span></div>
  <div id="add_panel">
    <input name="email" placeholder="Your email address"><br />
    Flyer Image<input type="file" id="flyer" name="flyer" /><br />
    <input name="date" id="expiry" placeholder="Event date"><br />
    <input name="name" placeholder="Event location"><br />
    <input name="lat" placeholder="Latitude"><br />
    <input name="lon" placeholder="Longitude"><br />
    <input name="add" type="button" value="Add">
  </div>
</div>
<div id="logo"> </div>

<div id="content" class="box">
	<div id="flyer" class="container"><%= render :partial=>"flyer"%></div>
	<div id="kickstarter" class="container"><%= render :partial=>"kickstarter"%></div>
</div>
<div id="footer"><strong>Flyer Zero</strong> is a kickass <strong>Open Form Foundation</strong> joint.</div>
