<%=render :partial=>"events/submit"%>

<div id="logo"> </div>

<div id="content" class="box">
	<div id="flyer" class="container"><%= render :partial=>"flyer"%></div>
	<div id="kickstarter" class="container"><%= render :partial=>"kickstarter"%></div>
</div>
<div id="footer"><strong>Flyer Zero</strong> is a kickass <strong>Open Form Foundation</strong> joint.</div>
