<script>
      <% if defined?( edit ) && edit %>
	  var editFlyer = true;
	  var validation = '<%= validation =%>';
	  var eventId = '<%= event_id %>';
      <% else %>
	  var editFlyer = false;
      <% end %>
</script>
<div id="logo"> </div>

<div id="content">
</div>
<div id="footer">
<strong>Flyer Zero</strong> is a kickass <%= link_to "Open Form Foundation", "http://www.openformfoundation.org/"%></strong> joint.
<br /><br /><br />
<%=image_tag "cycle.gif", :size=>"64x64", :style=>"height:64px; width: 64px; margin:auto;display:block;"%>
</div>
