    <div id="nav">Flyer Zero API</div>
    <div id="info">
      <br/><br/><br/>Geolocation driven photo storage API<br/>
      for mobile platforms.<br/><br/>
      <span class="smaller">Map and store photos for your web or mobile application.</span>
      
    </div>
    <div id="quote">Sign up for the Closed Beta. <a href="mailto:support@openformfoundation?subject=Flyer%20Zero%20API%20Closed%20Beta%20Request">Email us</a></div>
    
    <div class="bullet row odd">
      <div class="inner">
        <div class="left_">
          <div style="font-size:1.7em;color:#333; line-height:55px;font-weight:700;">Geolocation</div>
          <div style="font-size:1.1em; color:#666;">Reverse geocoding powered by GoogleMaps<br/>with built in distance and radius filtering.</div>
        </div>
        <div class="right_"><%= image_tag "geolocation.png", :class=>"promo_image"%></div>
      </div>
    </div>
    
    <div class="bullet row">
      <div class="inner">
        <div class="left_"><%= image_tag "venuesearch.png", :class=>"promo_image"%></div>
        <div class="right_">
          <div style="font-size:1.7em;color:#333; line-height:55px;font-weight:700;">Venue Lookup</div>
          <div style="font-size:1.1em; color:#666;">Use the extensive Flyer Zero venue database.<br/>Fallback on Foursquare or add your own.</div>
        </div>
      </div>
    </div>
    <div class="bullet row odd">
      <div class="inner">
        <div class="left_">
          <div style="font-size:1.7em;color:#333; line-height:55px;font-weight:700;">Taggable Collections</div>
          <div style="font-size:1.1em; color:#666;">#Hashtag descriptions for filtering and grouping.<br/>Private tags and community collections.</div>
        </div>
        <div class="right_"><%= image_tag "taggables.jpg", :class=>"promo_image"%></div>
      </div>
    </div>
    <div class="bullet row">
      <div class="inner">
        <div class="left_"><%= image_tag "picmob.png", :class=>"promo_image"%></div>
        <div class="right_">
          <div style="font-size:1.7em;color:#333; line-height:55px;font-weight:700;">PicMob Zero</div>
          <div style="font-size:1.1em; color:#666;">Browse and explore your Zero community. <br/>Visit sites, read hidden comments, and collect photos.</div>
        </div>
      </div>
    </div>
    <div id="contact" class="row">
      The Flyer Zero API is an <a href="http://www.openformfoundation.org/">Open Form</a> joint. Get on it.
      <span id="fb_likie" class="fb-like" data-href="https://www.facebook.com/FlyerZero" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></span>
    </div>
