<h1>Event successfully created!</h1>
<p>Be sure to check your email and click on the activation link to activate your new event.</p>
<script>
    var dragdropPartial = '<%= escape_javascript( render(:partial => "dragdrop") )%>';
    var eventId = '<%= event_id %>';
    $('#clone_event img').attr( 'src', '<%= photo %>' );
    submitOk = true;
</script>