<h1>Image successfully uploaded!</h1>
<p>Time for another?</p>
<script>
    var dragdropPartial = '<%= escape_javascript( render(:partial => "dragdrop") )%>';
    var eventId = '<%= event_id %>';
    submitState = 'created';
    $('#clone_event').css('background-image', "url('<%=photo%>')");
    reloadLocation();
</script>