<%= render(:partial => "dragdrop")%>

<script>
    // gotta re-attach the file upload listener
    attachFileUploader();
    clearForm();
    $('#message_text').hide();
    $('#create_wait').fadeOut(function(){
	    $('#message_text').html('<%= raw("<h1>Event successfully created!</h1><p>Be sure to check your email and click on the activation link to activate your new event.</p>") %>');
	    $('#message_text').fadeIn( function(){
		    $('#message_content').delay(8000).fadeOut( function(){
			    $('#form_content').fadeIn();
		    });
	    });
    });
</script>