<div id="dragdrop_content" class="drapdrop_area">
  <div id="dragdrop_text">
    <div id="dragdrop_support">
        Drag your flyer here<br /><br />
        or<br /><br />
    </div>
    Choose a file to upload:<br /><br />
    <input accept="image/png,image/gif,image/jpeg" id="image_upload" name="event[photo]" type="file">
    <div id="no_preview">Sorry, flyer preview is not supported by your browser :(</div>
  </div>
  <div id="flyer_photo"></div>
 
</div>