<div id="dragdrop_content" class="drapdrop_area">
  <div id="dragdrop_text">
    Drag your flyer here<br /><br />
    or<br /><br />
    Choose a file to upload:<br /><br />
    <%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg', :id=>"image_upload"%>
  </div>
</div>