<div id="dragdrop_content" class="drapdrop_area">
  <div id="dragdrop_text">
    <div id="dragdrop_support">
        Drag your flyer here<br /><br />
        or<br /><br />
    </div>
    Choose a file to upload:<br /><br />
    <div class="fileinput-button">
	  <div id="browse_button" class="normal_hack" >Browse</div>
	  <input id="image_upload" name="event[photo]" type="file">
    </div>
    <div id="chosen_file">No file chosen</div>
    <div id="no_preview">Sorry, flyer preview is not supported by your browser :(</div>
  </div>
  <div id="flyer_photo">
    <% if @event.photo.file? %>
        <%= image_tag( @event.photo.url("medium") )%>
    <% end %>
  </div>

</div>