<div id="message_content">
	<div id="create_wait" class="waiting"><%= image_tag "cycle-medium.gif" %><br />Submitting your event, please wait...</div>
	<div id="response_container">
	      <div id="message_text" class="textbox">
		<!--<h1>Event successfully created!</h1><p>Be sure to check your email and click on the activation link to activate your new event.</p> -->
	      </div>
	      <div id="action_buttons">
		      <h1>Would you like to?</h1>
		      <div class="buttons"><input value="Create another event with the same flyer" id="clone_event" type="button" %></div>
		      <h1>or</h1>
		      <div class="buttons"><input value="Create a brand new event" id="new_event" type="button" %></div>
	      </div>
	</div>
</div>