<div id="message_content">
	<div id="create_wait" class="waiting"><%= image_tag "cycle-medium.gif" %><br />Submitting your event, please wait...</div>
	<div id="response_container">
	      <div id="message_text" class="textbox">
	      </div>
	      <div id="decision_widget">
		      <h1>What next?</h1>
		      <div class="decision_box">
			<h1>Add another date or venue</h1>
			<p>Choose this option if your event has multiple dates or venues.</p>
			<div id="clone_event" class="decision"><img src=""/></div>
		      </div>
		      <div class="decision_box">
			<h1>Create a brand new event</h1>
			<p>Choose this option if you would like to create a new event with a different flyer.</p>
			<div id="fresh_event" class="decision"><div class="flyer_text">New Flyer</div></div>
		      </div>
	      </div>
	</div>
</div>