<h1>Image successfully updated!</h1>
<script>
    var dragdropPartial = '<%= escape_javascript( render(:partial => "dragdrop") )%>';
    var flyerId = '<%= flyer_id %>';
    submitState = 'updated';
</script>