<div class="venue_widget">
  <%if @size != "small" %><img class="venue_icon" src="<%= venue[:icon] %>"></img><% end %>
  <div class="venue_container">
	  <div class="venue_name"><%= venue[:name] %></div>
	  <%if @size != "small" %><div class="venue_location"><%= venue[:location] %></div><% end %>
  </div>
</div>