<div class="venue_widget">
  <div class="venue_container">
	  <div class="venue_name"><%= venue[:name] %></div>
	  <%if @size != "small" %><div class="venue_location"><%= venue[:location] %></div><% end %>
  </div>
</div>