<div class="venue_widget">
  <img class="venue_icon" src="<%= venue[:icon] %>"></img>
  <div class="venue_container">
	  <div class="venue_name"><%= venue[:name] %></div>
	  <div class="venue_location"><%= venue[:location] %></div>
  </div>
</div>