
<div id="widget" class="slideshow_container">
    <% @flyers.each do |flyer| %>
	<div>
	    <div class="header gradientbg">
		<%= flyer.expiry.strftime('%m/%d/%Y') %>
	    </div>
	    <div class="flyer">
		<%= image_tag(flyer.photo.url(@size), :size=>"400x500") unless flyer.photo.nil? %>
	    </div>
	    <div id="" class="footer gradientbg">
		 <%= foursquare_venue(flyer) %>
	    </div>
	</div>
    <% end %>
</div>