<style>
body{
	background:black;
}

div.flyer_holder{
	float:left;
	width:390px;
	padding-top:50px;
}

div.flyer_holder img{
	margin: auto;
}
.venue_container{
	height:110px;
}
.venue_name{
	color:white;
	font-size:30px;
	font-weight:700;
	font-family: verdana;
	letter-spacing:3px
}
.venue_location{
	color:#bbb;
	font-size:26px;
	font-family: verdana;
	letter-spacing:2px
}
img.venue_icon {
	height:110px;
	width: 100px;display:none;
}
div.side_panel{
	float:left;
	width:390px;
	color:white;
	padding-top:50px;
}
.flyer_date{
	color:white;
	font-size:36px;
	font-family: verdana;
	letter-spacing:3px
}
div#splash {
	width: 800px;
	height: 600px;
	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 150;
	color: #ffffff;
}
div.left_panel{
	float:left;
	width:398px;
	padding-top:50px;
	text-align: center;
}
span.splash_header {
	font: bold 2.8em Verdana, Geneva, sans-serif;
	color: #f9e101;
}
span.splash_footer {
	color:#bbb;
	font-size:26px;
	font-family: verdana;
	letter-spacing:2px
}
table.splash_table {
	color: #ffffff;
	font-size: 1.3em;
}
</style>

<div style="width:790px; padding-top:20px; padding-left:5px;">

<div id="widget" class="slideshow_container">
	<%= render :partial=>"flyer_list" %>
</div>

<div id="splash">
	<div class="left_panel">
		<span class="splash_header">Flyer Zero</span>
		<img src="<%= request.protocol + request.host_with_port %>/assets/med_robot.png">
		<span class="splash_footer">See your flyer here!</span>
	</div>
	<div class="side_panel">
		<table class="splash_table">
			<tr>
				<td>Submit your flyer at flyerzero.com. It's easy, and it's free.</td>
				<td></td>
			</tr>
			<tr>
				<td colspan=2 class="flyer_date">Get Flyer Zero Mobile</td>
			</tr>
		</table>
	</div>
</div>


</div>