<style>
body{
	background:black;
}

div.flyer_holder{
	float:left;
	width:390px;
	padding-top:50px;
}

div.flyer_holder img{
	margin: auto;
}
.venue_container{
	height:110px;
}
.venue_name{
	color:white;
	font-size:30px;
	font-weight:700;
	font-family: verdana;
	letter-spacing:3px
}
.venue_location{
	color:#bbb;
	font-size:26px;
	font-family: verdana;
	letter-spacing:2px
}
img.venue_icon {
	height:110px;
	width: 100px;display:none;
}
div.side_panel{
	float:left;
	width:390px;
	color:white;
	padding-top:50px;
}
.flyer_date{
	color:white;
	font-size:36px;
	font-family: verdana;
	letter-spacing:3px
}
div#splash {
	width: 800px;
	height: 600px;
	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 150;
	color: #ffffff;
}
div.left_panel{
	float:left;
	width:398px;
	padding-top:50px;
	text-align: center;
}
div.splash_header {
	font: bold 2.8em Verdana, Geneva, sans-serif;
	color: #f9e101;
	padding-top:75px;
}
div.splash_teaser{
	color:#ddd;
	font: bold 1.4em Verdana, Geneva, sans-serif;
}
span.splash_footer {
	color:#bbb;
	font-size:26px;
	font-family: verdana;
	letter-spacing:2px
}
div.teaser{
	text-align:center;
}
.centered{
	margin:auto;
}
</style>

<div style="width:790px; padding-top:20px; padding-left:5px;">

<div id="widget" class="slideshow_container">
	<%= render :partial=>"flyer_list" %>
</div>

<div id="splash" class="teaser">
	<div class="splash_header">Flyer Zero</div><br />
	<div class="splash_teaser">Submit your flyer at <span style="color:#f9e101;">flyerzero.com</span>.<br /> It's easy, and it's free.</div>
	<br /><br />
	<img src="<%= request.protocol + request.host_with_port %>/assets/mobile_advert.png" class="centered">
</div>


</div>