<div id="nearby" class="content box">
	<div class="header textual">Nearby, Right Now</div>
	<div class="flyers">
		<%for flyer in @now%>
			<%=image_tag flyer.photo.url( :thumb ), :size=>"130x163", :class=>"first"%>
		<%end%>
	</div>
	
	<div class="header textual">More</div>
</div>
<br />
<div id="soon" class="content box">
	<div class="header textual">Nearby, Soon</div>
	<div class="flyers">
		<%for flyer in @soon%>
			<%=image_tag flyer.photo.url( :thumb ), :size=>"130x163", :class=>"first"%>
		<%end%>
	</div>
	
	<div class="header textual">More</div>
</div>
