
<div style="text-align: center;background:#2f2f2f;width:100%;height:100%;position:absolute;">

  <img src="/assets/big_robot.png" height="480px" width="320px" />
  <h1>You don't have the Flyer Zero Mobile App, Bummer :(</h1>
</div>
