<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<div id="page">
	
	<div id="nearby" class="content box">
		<div class="header textual">Nearby, Right Now</div>
		<div class="flyers">
			<%for flyer in @now%>
				<%=image_tag flyer.thumb, :size=>"130x163", :class=>"first"%>
			<%end%>
		</div>
		
		<div class="header textual">More</div>
	</div>
	<br />
	<div id="soon" class="content box">
		<div class="header textual">Nearby, Soon</div>
		<div class="flyers">
			<%for flyer in @soon%>
				<%=image_tag flyer.thumb, :size=>"130x163", :class=>"first"%>
			<%end%>
		</div>
		
		<div class="header textual">More</div>
	</div>
	<br />
	
	<div id="footer"><strong>Flyer Zero</strong> is a kickass <strong>Open Form Foundation</strong> joint.</div>
</div>
