<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for submitting an event on Flyerzero!</h1>
    <p>
      To activate your event, simply follow the link below. Pretty easy. :)<br/>
    </p>
    <p>
      Activation Link: <%= @url %>.
    </p>
    <p>
	If you would like to remove your event at any time, use removal link below.
    </p>
    <p>
	Removal Link: <%= @del_url %>
    </p>
    <p>Flyerzero is a kickass <a href="http://www.openformfoundation.org/">Open Form Foundation</a> joint.</p>
  </body>
</html>
