div#about_page{
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:scroll;
	vertical-align: middle;
	background-color:#000000;
	z-index:100;
	display:none;
}

.slide{
    width: 600px;
    height: 450px;
    background: #000000;
    //border: 1px solid #888888;
    border-radius: 10px;
    color: #dddddd;
}

div#nav_buttons{
    position: absolute;
    z-index:200;
    bottom: 20px;
    right: 20px;
}

div#next_button{
    float: right;
}
div#next_button:hover{
    cursor: pointer;
}
div#prev_button{
    float: left;
}
div#prev_button:hover{
    cursor: pointer;
}