/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
img {
	border:0px;
}
.box {
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.hidden{
	display:none;
}
.sideways{
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

#notice {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	font-size:1.8em;
	text-align:center;
	margin-top:15px;
}
#notice .text {
	
	padding:10px;
	margin:10px;
	background: #fcfcfc;
	color:#222222;
	border:1px solid #444444;
	width:400px;
	margin:auto;
}

body{
	background:#222222;
	color: #888888;
}

div.bullet_text{
background: -moz-linear-gradient(top,  rgba(102,102,102,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(102,102,102,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(102,102,102,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(102,102,102,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(102,102,102,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6666666', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	color:white;
	font-size:1.5em;
	text-shadow:2px 2px #222;
	height:100%;
}
div.bullet_button{
	height:30px;
	width: 200px;
	margin:5px;float:left;
}
div.bullet_fail{
	border: 2px dashed #777;
	line-height:26px;
}

div.map_flyer{
	margin:3px;
	padding:3px;
	border:2px solid #999999;
	background-color: white;
	vertical-align:top;
}
div.map_data {
	width:430px !important;
	padding-left:7px;
	padding-right:7px;
}
div.map_data div.alert_header{
	border:3px dashed #777;
	font-size:1.5em;
	height:194px !important;
}

div.map_data iframe {
	display:block;
	width:420px !important;
	padding-bottom:20px;
	margin:auto;
}

img.map_flyer{
	height:80px;
	width:80px;
}
img.map_flyer_info{
	height:200px;
	width:200px;
	margin:auto;
}
div.overlay{
	position:absolute;
	margin:3px;
	padding:3px;
	top: 2px;
	left:2px;
	background-image: url('/assets/glass-overlay.png');
	height:50px;
	width:40px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #999999;
	position:absolute;
	bottom: -7px;
	left:41px;
	
}

.fbevent{
	position:relative;
	top:-5px;
	padding:0px;
	margin:0px;
	text-align:center;
}
.fbevent img{
	margin:auto;
}
