/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.box {
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.hidden{
	display:none;
}
.sideways{
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

body{
	background:#222222;
	color: #888888;
	//background-image: url('/assets/rr0213_web_thumb.jpg');
	//background-image: url('/assets/umlaut0313_web_thumb.jpg');
}

div.map_flyer{
	margin:3px;
	padding:3px;
	border:2px solid #999999;
	background-color: white;
	vertical-align:top;
}
img.map_flyer{
	height:50px;
	width:40px;
}
div.overlay{
	position:absolute;
	margin:3px;
	padding:3px;
	top: 2px;
	left:2px;
	background-image: url('/assets/glass-overlay.png');
	height:50px;
	width:40px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-top: 6px solid #999999;
	position:absolute;
	bottom: -3px;
	left:21px;
	
}
