// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.primary {

/* prototype stuff */


div#logo {
	text-align:center;
	height:100px;
}

div#content {
	text-align:center;
	position:relative;
	padding:20px;
	height:520px;
	vertical-align: middle;
	width:1020px;
	margin: 0 auto;
	//border:1px solid #555555;
	background-image: url('/assets/transparent.png');
	z-index:100;
}
div#corner_spot{
	position:absolute;
	left:0px;
	top:0px;
	z-index:2000;
}

div#footer {
	font-size:0.8em;
	text-align:center;
	padding:40px;
	color:#cccccc;
}


div#content div.container{
	float:left;
	padding:10px;
}

div#flyer {
	width:400px;
	text-align:right;
}
div#kickstarter {
	width:550px;
	text-align:left;
}
.slideshow img { display: none }
.slideshow img.first { display: block }

div#submit {
    width: 550px;
    height: 500px;
    text-align: left;
    display: none;
}

div#dragdrop {
    display:none;
    width: 400px;
    height: 500px;
}

div#kicktitle {
	font-size: 2em;
	color: #fcfcfc;
}

div.kickdesc {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
/* end of prototype stuff */

div#add_link {

}
div.fzbutton {
	width: 205px;
	padding: 10px;
	margin: 10px;
	//color: #cc0000;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	position: relative;
	right: 0px;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	//background-image: url('/assets/transparent.png');
}
.light{
	color: #777777;
	text-shadow: -1px -1px #444444, 1px 1px #999999;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#666666'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#666666)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ddd,  #666666); /* for firefox 3.6+ */
}

.dark{
	color: #eeeeee;
	//text-shadow: -1px -1px #222222, 1px 1px #ffffff;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#454545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#454545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #777777,  #454545); /* for firefox 3.6+ */
}
.dark:hover{
	cursor:pointer;
	color: #eeeeee;
	//text-shadow: -1px -1px #440000, 1px 1px #dd0000;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0000', endColorstr='#440000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#bb0000), to(#440000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #bb0000,  #440000); /* for firefox 3.6+ */
}

#add_link span{
	position:absolute;
	display:block;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('/assets/text_grunge.png');
}
div.fzbutton table{
	margin:auto;
}

div#add_link:hover {
    cursor: pointer;
}
}
