// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* prototype stuff */
body{
	background:black;
	color: #dddddd;
}

div#logo {
	text-align:center;
	height:100px;
}

div#content {
	text-align:center;
	height:500px;
	border:1px solid gray;
	vertical-align: middle;
	width:900px;
	margin: 0 auto;
}

div#footer {
	font-size:0.8em;
	text-align:center;
	padding:20px;
	color:#cccccc;
}


div#content div.container{
	width:450px;
	float:left;
}

div#flyer {
	color:red;
}
div#kickstarter {
	color:green;
}

/* end of prototype stuff */
