div#add_panel {
	/*position: relative;*/
	padding:20px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

#add_panel .input_text {
	border:1px solid #777777;
	padding:5px;
    font-size: 1.1em;
    margin-left: 20px;
    margin-top: 5px;
    width: 350px;
}

#add_panel .error_border {
    border: 2px solid red;
}

#add_panel .error_text {
    color: #ff0000;
}

#submission_page h1 {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 5px;
}

div#dragdrop_content {
    height: inherit;
}

div.drapdrop_area{
    text-align: center;
    border: 2px dashed #777777;
}

div#mini_dragdrop_area{
	height:163px;
	width:130px;
	text-align: center;
	line-height: 163px;
	border: 2px dashed #777777;
	font-size:0.8;
	float:left;
	margin:10px;
}

div#mini_dragdrop_area:hover{
	border: 2px dashed #ffffff;
	cursor:pointer;
}

input#image_upload{
   /*visibility: hidden;*/
}

div#dragdrop_text {
	position: relative;
	top: 50%;
	width: 350px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px; /* half of height to center*/
	font-family: sans-serif;
}

.ui-autocomplete{
    background: #ffffff;
    width: 350px;
    height: 200px;
    list-style-type: none;
    overflow:auto;
    padding: 0px;
}
.ui-menu-item{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    font-family: sans-serif;
}

.ui-menu-item:hover{
    background: #cfcfcf;
}

.venue_details{
    font-size: .9em;
    color: #444444;
    padding-left: 15px;
}
.venue_name{
    font-size: 1.1em;
    color: black;
}
.ui-datepicker-prev{
    float: left;
    background-image: url('/assets/prev.png');
    width: 16px;
    height: 16px;
}
.ui-datepicker-next{
    float: right;
    background-image: url('/assets/next.png');
    width: 16px;
    height: 16px;
}
.ui-datepicker-header{
    background: #f9e101;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-datepicker{
    background: #ffffff;
    border: 1px solid black;
    margin-top: 2px;
    border-radius: 5px;
}
.ui-datepicker-title
{
    text-align: center;
    color: #000000;
    font-weight: 700;
}

#create_wait{
    display: none;
}
#message_content{
    margin-top: 30px;
}
#venue_wait{
    display: none;
    width: 16px;
}
#add_panel #event_loc{
    background-image: url("/assets/search.png");
    background-repeat:no-repeat;
    padding-left: 25px;
    width: 328px;
}
#add_panel .offset{
    padding-left: 25px;
    padding-top: 10px;
}
#add_panel .foursquare_image{
    padding-left: 20px;
}
#add_panel #buttons{
	margin-top: 50px;
}
#venue_icon{
    float: left;
}
#venue_container{
    float: left;
    margin-left: 10px;

}
#venue_name{
    font-size: 1.1em;
    font-weight: 600;
}
