div#add_panel {
	/*position: relative;*/
	padding:20px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

#add_panel .input_text {
	border:1px solid #777777;
	padding:5px;
    font-size: 1.1em;
    margin-left: 20px;
    margin-top: 5px;
    width: 350px;
}

#add_panel h1 {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 5px;
}

div#dragdrop_content {
    height: inherit;
}

div.drapdrop_area{
    text-align: center;
    line-height: 500px;
    border: 2px dashed #777777;
}

div#mini_dragdrop_area{
	height:163px;
	width:130px;
	text-align: center;
	line-height: 163px;
	border: 2px dashed #777777;
	font-size:0.8;
	float:left;
	margin:10px;
}

div#mini_dragdrop_area:hover{
	border: 2px dashed #ffffff;
	cursor:pointer;
}

input#image_upload{
   visibility: hidden;
}

div#dragdrop_text {
}

.ui-autocomplete{
    background: #ffffff;
    width: 350px;
    height: 200px;
    list-style-type: none;
    overflow:auto;
    padding: 0px;
}
.ui-menu-item{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    font-family: sans-serif;
}

.ui-menu-item:hover{
    background: #cfcfcf;
}

.venue_details{
    font-size: .9em;
    color: #444444;
    padding-left: 15px;
}
.venue_name{
    font-size: 1.1em;
    color: black;
}
.ui-datepicker-prev{
    float: left;
    background-image: url('/assets/prev.png');
    width: 16px;
    height: 16px;
}
.ui-datepicker-next{
    float: right;
    background-image: url('/assets/next.png');
    width: 16px;
    height: 16px;
}
.ui-datepicker-header{
    background: #f9e101;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-datepicker{
    background: #ffffff;
    border: 1px solid black;
    margin-top: 2px;
    border-radius: 5px;
}
.ui-datepicker-title
{
    text-align: center;
    color: #000000;
    font-weight: 700;
}