// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
}
.visage{

	padding:40px;
	padding-top:90px;
	border-bottom:1px solid #dddddd;
	background:#f7f7f7;
}

.profile .flyers{
	font-size:3.0em;
	padding:40px;
	color:black;
}
.points{
	background-color:#f9e101;
	color:black;
	font-size:2.0em;
	padding:10px;
	display:inline-block;
}
.tip{
	font-size: 0.7em;
	text-align: center;
}
.twtr-ft{
	display:none !important;
}
.body_profile{
    overflow: auto !important;
}