img {
	border:0px;
}
.header_medium{
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cdcdcd;
    font-size: 1.1em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header_large{
    width: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cdcdcd;
    font-size: 1.1em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header_small{
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cdcdcd;
    font-size: 0.8em;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer_medium{
    width: 400px;
    color: #cdcdcd;
    font-size: 1.1em;
    text-align: center;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer_large{
    width: 600px;
    color: #cdcdcd;
    font-size: 1.1em;
    text-align: center;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer_small{
    width: 130px;
    color: #cdcdcd;
    font-size: 0.8em;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flyer_small{
    background: #0f0f0f;
    width: 130px;
}

.flyer_medium{
    background: #0f0f0f;
    width: 400px;
}

.flyer_large{
    background: #0f0f0f;
    width: 600px;
}

.gradientbg{
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.venue_widget{
    margin-left: auto;
    margin-right: auto;
    display: inline-block
}
.venue_container{
    float: left;
    text-align: left;
    margin-left: 5px;
}

.venue_location{
    font-size: 0.8em;
}

.venue_icon{
    float: left;
}

/*****
calendar
*****/
div.container{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
div#calendar{
	height:500px;
	width:595px;
	margin:auto;
	padding:20px;

}
div#day_detail{
	width:700px;
	margin:auto;
	text-align:center;
	display:none;
}
div.event{
	position:relative;
	text-align:center;
	background:white;
	border:1px solid #ddd;
}

img.flyer_info{
	height:140px;
	width:120px;
	padding: 5px;
	margin:auto;
}
.bullet_map{
	margin:auto;
}
.bullet_expiry {
	font-size:1.5em;
	padding:20px;
	margin-left:30px;
	text-align:left;
}
.return_to_calendar{
	position:absolute;
	right:40px;
	top:13px;
	color:#999;
	text-align:right;
	font-size:0.8em;
	margin:15px;
	cursor:pointer;
}

.fc-event-skin{
	background:none;
	border:0px;
}
.fc-event-title{
	display:none;
}
.fc-widget-header{
	border-top:none !important;
	border-right:none !important;
	border-left:none !important;
}
.fc-header {
	background:none;
}
.fc-widget-content{
}
.fc-content th{
	color:#888;
}
.fc-content td{
	background:white;
	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */
}
.fc-item{
	display:block;
	position:absolute;
	top:-21px;
	left:-3px;
	height:69px;
	width:84px;
}
.fc-item .myday{
	display:none;
	padding:4px;
	text-align:right;
	display:block;
	height:50%;
	background: -moz-linear-gradient(top,  rgba(68,68,68,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(68,68,68,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6444444', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	color:white;
}
