<!DOCTYPE html>
<html>
<head>
  <title>Flyerzero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
