<html>
<head>
    <title>Zero Box Widget</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
    <%= stylesheet_link_tag    "zerobox.css" %>
    <%= javascript_include_tag "zerobox.js" %>

</head>
<body>
    <%= yield %>
</body>
</html>